<IfModule mod_rewrite.c>
  RewriteEngine On

  # Pass Authorization headers to the application (required for some shared hosts)
  RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

  # Force HTTPS
  # RewriteCond %{HTTPS} off
  # RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # The following lines are usually added automatically by cPanel's Node.js selector
</IfModule>
