# Application Port
PORT=3000

# Database Configuration (MySQL)
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=hullotech

# Next.js Settings
DISABLE_NEXT=false

# Environment
NODE_ENV=development

# Local testing values:
NEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXT_PUBLIC_API_BASE_URL=http://localhost:5000

# Keep your JWT secret
JWT_SECRET_KEY=MARNPROJECTSECRETKEY


